node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*





Comenzado el	miércoles, 19 de abril de 2023, 21:04
Estado	Finalizado
Finalizado en	miércoles, 19 de abril de 2023, 21:12
Tiempo empleado	8 minutos 45 segundos
Calificación	8,00 de 10,00 (80%)
Pregunta 1
Correcta
Se puntúa 1,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

¿Qué son los Patrones de diseño?
Seleccione una:
a. Repetición de animaciones
b. Marcas que se encuentran dentro de un diseño
c. Soluciones de problemas de diseño comunes Respuesta correcta
Retroalimentación
Respuesta correcta
La respuesta correcta es: Soluciones de problemas de diseño comunes
Pregunta 2
Correcta
Se puntúa 1,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

Se habló por primera vez de los patrones en los años 70 en un libro de arquitectura de Christopher Alexander
Seleccione una:
Verdadero
Falso
Retroalimentación

Respuesta correcta
La respuesta correcta es 'Verdadero'
Pregunta 3
Correcta
Se puntúa 1,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

Jakob Nielsen realizó un estudio de "eye tracking" y descubrió que la forma de lectura era similar a la letra F
Seleccione una:
Verdadero
Falso
Retroalimentación

Respuesta correcta
La respuesta correcta es 'Verdadero'
Pregunta 4
Correcta
Se puntúa 1,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

Es importante recordar escribir los bloques de texto con información importante en mayúsculas y en negrita para destacarlos aún más
Seleccione una:
Verdadero
Falso
Retroalimentación

Respuesta correcta
La respuesta correcta es 'Falso'
Pregunta 5
Incorrecta
Se puntúa 0,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

"Los usuarios pasan más tiempo en otros sitios que en el tuyo"
Seleccione una:
Verdadero
Falso
Retroalimentación
La respuesta correcta es 'Verdadero'
Pregunta 6
Correcta
Se puntúa 1,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

Los usuarios leen con detenimiento la información de las webs que visitan
Seleccione una:
Verdadero
Falso
Retroalimentación

Respuesta correcta
La respuesta correcta es 'Falso'
Pregunta 7
Correcta
Se puntúa 1,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

"Usabilidad es el grado en que un producto puede ser utilizado por usuarios específicos para lograr los objetivos específicos con efectividad, eficiencia y satisfacción en un contexto de uso".
Seleccione una:
Verdadero
Falso
Retroalimentación

Respuesta correcta
La respuesta correcta es 'Verdadero'
Pregunta 8
Incorrecta
Se puntúa 0,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

¿Qué indica una Métrica de Eficacia?
Seleccione una:
a. Emociones vinculadas al uso
b. Rendimiento de uso
c. Facilidad de uso
Retroalimentación
Respuesta incorrecta.
La respuesta correcta es: Facilidad de uso
Pregunta 9
Correcta
Se puntúa 1,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

A través de un prototipo funcional se comprende y representa la interacción entre humano y máquina y cómo debería de responder el sistema y cada uno de los elementos que lo componen.
Seleccione una:
Verdadero
Falso
Retroalimentación

Respuesta correcta
La respuesta correcta es 'Verdadero'
Pregunta 10
Correcta
Se puntúa 1,00 sobre 1,00
Marcar pregunta
Enunciado de la pregunta

El prototipo nos permite conectar pantallas mediante:
Seleccione una:
a. Disparador
b. Acción
c. Destino
d. Todas las anteriores Respuesta correcta
Retroalimentación
Respuesta correcta
La respuesta correcta es: Todas las anteriores